.section-content-1 {
    background-image: url(/images/logo/gioi_thieu.png);
    margin-top: -15px;
    padding-top: 120px;
}

.content-1-title {
    font-size: 4em;
    margin-bottom: 0;
    font-family: "Dancing Script", cursive;
    font-style: normal;
    text-align: center;
    font-size: 49px;
    margin-bottom: -20px;
}

.content-1-description {
    font-size: 17px;
    text-align: justify;
    padding: 2rem 19rem;
    margin-bottom: 20px;
}

.form-contact {
    padding: 50px 30px 30px 30px;
    font-size: 14px;
}

.form-contact .form-control {
    font-size: 13.5px;
}

.form-contact .form-group {
    margin-bottom: 20px;
}

.section-contact {
    background-color: rgba(163, 162, 162, 0.31);
    border-radius: 30px;
    margin: 20px 20px;
    padding: 30px;
    color: rgb(0, 0, 0);
}

.main-content-contact .text-lienhe {
    font-size: 39px;
    font-weight: bold;
}

.background-2 {
    background: #5857577a;
    padding: 50px;
}

.contact-left {
    padding: 30px;
}

.text-description-lienhe {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}


.contact {
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: #fff;
}

.contact-info {
    max-width: 400px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    /* Nền trắng mờ */
    padding: 20px;
    border-radius: 8px;
}

.contact .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.formlh label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.formlh input,
.formlh textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.formlh input::placeholder,
.formlh textarea::placeholder {
    color: #999;
}

.btn-danger {
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #9e2222;
    background-color: #9e2222;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: #ffffff;
    color: #9e2222;
    border: 2px solid #9e2222;
}

.smaller-btn {
    width: 100px;
    /* Cụ thể nhỏ lại */
}

@media (max-width: 480px) {
    
    .logo-contact img {
        max-width: 90%; 
    }  
}
